!!! 5
html(lang="en")
  head
    title 👨‍🍳 AWSome Cooking status
    link(rel='stylesheet' href='style.css')
    meta(http-equiv="refresh" content="300")
    script(type='text/javascript').
      document.addEventListener('DOMContentLoaded', run);
      function run() {
        link_latest.style.background = 'black';
        show(link_latest)
      }
      function show(arg) { 
        arg.parentElement.innerText.split("|").forEach( function(element) {
          el=element.trim()
          if(el!="") {
            document.getElementById(el).style.display="none"
            document.getElementById('link_'+el).style.background = 'darkgray'
          }
        })
        document.getElementById('link_'+arg.innerText).style.background = 'black'
        document.getElementById(arg.innerText).style.display="block" 
      }
  body
    span.menu
      each key,val in data.clusters.items()
        //- = val.name
        each ns in val.namespaces
          a(href='#' onclick='show(this);return false;' id='link_#{ns}')= ns
          | |
    br/
    br/
    
    each cluster_name, cluster in data.clusters.items()
      each ns_name, ns in cluster.namespaces.items()
        div(id=ns_name) Status of Stage: 
          a(href=ns.link, target='_blank') 
            b(style='color: green') #{ns_name}, Cluster: #{cluster_name}
          br/
          | ==========================================================================
          br/
          | This page was updated at: 
          b(style='color: green')= data.timestamp
            img.cursor(src='120px-Flickering_cursor.gif')
          br/
          | ============================ List of the pods ============================
          br/
          table(cellspacing='5')
            tbody
              tr
                th image name
                th definedTag
                th ageOfPods
                th status and other tags
            each img, imgs in ns.images.items()
              tr(style='color:lightgray')
                td= img
                td(align='center')
                  each c in imgs
                    each n in ns.pods[c].containers
                      div(class={'gray': n.ready, 'red': not n.ready})
                        = n.image.tag
                        | 
                        |
                td()
                  each c in imgs
                    each n in ns.pods[c].containers
                      div(class={'gray': n.ready, 'red': not n.ready})
                        = n.started 
                        | 
                        |

                td()
                  each c in imgs
                    each n in ns.pods[c].containers
                      if n.ready
                        .gray
                          = n.image.other_tags or n.image.hash_short
                          if n.restarts
                            span.dark restarts:
                             = n.restarts
                             = n.last_state
                      else
                        .red restarts:
                          = n.restarts
                          = n.last_state or '{unble to pull or unready status}'
          
